<div class="welcome_background" style="background-image: url(<%= asset_path 'homepage.jpg' %>)" %>







<h1>GradePending</h1>


<p class="lead">...a guide to New York restaurant inspection grades, violations, &amp; good eats ...</p>


<% render 'form'%>

<%= form_tag('/search', method: :get) do %>
  <%= text_field_tag(:keyword) %>
  <%= submit_tag("Search") %>
<% end %> 


</div>